.disabled-link {
  cursor: not-allowed;
  pointer-events: none;
}
.customHeader {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box-shadow for a subtle shadow effect */
  padding: 10px;

  position: absolute;
  width: 100%;
  border-bottom: 50px;
  top: 0;
  margin-bottom: 20px;
  z-index: 1000;
}
